/* Import Montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* Apply Montserrat font-family to base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  @apply text-4xl font-bold text-gray-800 mb-4;
}

h2 {
  @apply text-3xl font-semibold text-gray-700 mb-3;
}

h3 {
  @apply text-2xl font-semibold text-gray-700 mb-2;
}

h4 {
  @apply text-xl font-semibold text-gray-700 mb-2;
}

h5 {
  @apply text-lg font-semibold text-gray-700 mb-1;
}

h6 {
  @apply text-base font-semibold text-gray-700 mb-1;
}

p {
  @apply text-base text-gray-700 leading-normal mb-4;
}

span {
  @apply text-base text-gray-700;
}

@layer components {
    .border-animation {
        position: relative;
        overflow: hidden;
        transition: height 0.3s ease;
      }
  
      .border-animation:before,
      .border-animation:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 2px;
        background-color: #84BD00;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.3s ease;
      }
  
      .border-animation:hover:before,
      .border-animation:hover:after {
        transform: scaleX(1);
        transform-origin: right;
      }

      .swiper {
        width: 100%;
        height: 100%;
      }
      
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
      
        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      
      .autoplay-progress {
        position: absolute;
        right: 16px;
        bottom: 16px;
        z-index: 10;
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: var(--swiper-theme-color);
      }
      
      .autoplay-progress svg {
        --progress: 0;
        position: absolute;
        left: 0;
        top: 0px;
        z-index: 10;
        width: 100%;
        height: 100%;
        stroke-width: 4px;
        stroke: var(--swiper-theme-color);
        fill: none;
        stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
        stroke-dasharray: 125.6;
        transform: rotate(-90deg);
      }
}